/* * {
  border: 1px solid red;
} */

/* employee section */
.section-title {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 900;
}
.employee-container #employees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  box-shadow: 4px 4px 8px 0 rgba(250, 46, 46, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 8px 10px;
  width: 20%;
  height: 48vh;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(255, 79, 79, 0.2);
}

/* .profile-img {
  margin: 10px 8px;
} */

.profile-img img {
  width: 100%;
  height: 34vh;
}

.card .card-content {
}

.card .line {
  border-bottom: 1px solid red;
  margin: 2px 0;
}
.profile-link {
  text-decoration: none;
  color: blueviolet;
  text-align: center;
}
.company {
  color: rgb(180, 105, 250);
  text-align: center;
}

/* //employee section */
@media (max-width: 575.98px) {
  .section-title {
    font-size: 5vw;
  }
  .employee-container #employees {
    display: block;
    margin: 0 auto;
  }
  .card {
    width: 55% !important;
    margin: 3% auto !important;
  }
}
/* //employee section */
@media (max-width: 767.98px) {
  .section-title {
    font-size: 4vw;
  }
  .card {
    width: 45%;
    margin: 8px 8px;
  }
}

@media (max-width: 967.98px) {
  .card {
    width: 30%;
  }
}
